body{
    background-color: grey;
}

form{
    background-color: rgb(0, 255, 255);
    margin: 0 auto; 
    width:30em;
}

legend {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold; 
    text-align: center;
}

.columnHeader {
    font-size: 1.5em;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.team1 {
    color: blue;
}

.team2 {
    color: green;
}

.quarterHeader {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    text-align: center;
}

.teamSum {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: center
}

.scoreSumHeader {
    font-size: 1.25em;
}